@import 'globals';

/* overrides */
html, body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #FFF;
	font-size: 130%;
	font-family: Arial;
	margin: 0px;
}

hr {
	margin: .6em .2em;
	height: 3px;
	background-color: #555;
}

a {
	text-decoration: none;
}

a, a:visited {
	color: $light-mag;
}

a:hover {
	color: $dark-mag;
}


button, 
input[type="button"], 
input[type="submit"], 
a.button {
	background-color: #93CCCB;
	border-color: #2D5958;
	
	color: #2D5958;
	border-style: solid;
	padding: .3em .5em;
	border-radius: 5px;
	
	border-width: 2px;

	font-size: 1em;
	line-height: 1.1;

	&.small-btn {
		font-size: 80%;
	}

	&.large-btn {
		font-size: 100%;
	}

	&.huge-btn {
		font-size: 110%;
	}
}

/* User bar */

#user-bar {
	width: 100%;
	height: 1.8em;

	#user-bar-content {
		display: inline-block;
		position: absolute;
		right: 0;

		form {
			display: inline-block;
		}
	}
	
}

/* main content */

#all-content {
	width: 50%;
	min-width: 700px;
	margin-right: auto;
	margin-left: auto;
	background-color: $light-teal;
	height: 100%;

	#header {
		height: 5em;
		overflow: auto;
	}

	#main-body {
		display: block;
		min-height: 100%;
		margin-bottom: 10%;
		padding-bottom: .5em;
	}

	#footer {
		width: 100%;
		bottom: 0;
		height: 5em;
	}
}

/* Button */

.button {
	cursor: pointer;
}

/* Pop up */

.popup-box {
	background-color: #FFF;
	display: none;
	position: absolute;
	z-index: 999;

	.popup-topbar {
	
		background-color: #628FD9;
		display: block;
		padding: 10px;
		border-style: solid;
		border-width: 0px;
		border-bottom-width: 2px;
		
		span {
			color: #111;
		}
	}
	
	.popup-close {
		float: right;
	}
	
	.popup-main {
		padding: 10px;
		display: block;	
	}
	
	.popup-title {
		font-size: 100%;
	}
}

.popup-background {
	background-color: rgba(200, 200, 200, .8);
	top: 0;
	left: 0;
	position: absolute;
	display: block;
}

/* Notifications */

.notif-error {
	background-color: #FF4040;
}

.notif-success {
	background-color: #73E65C;
}


	
