#left-wrapper {
	vertical-align: top;
	width: 20%;
	display: inline-block;

	#side-bar {
		margin: .5em;
		padding: .2em;
	}
}

#right-wrapper {
	vertical-align: top;
	width: 70%;
	display: inline-block;

	#issue-entries {
		margin: .5em;
		display: block;


		.issue-entry {

			padding: .5em;

			&:hover {
				background-color: #EEEEEE;
			}

			.left-wrapper {
				display: inline-block;
				width: 5%;
			}

			.right-wrapper {
				display: inline-block;
				width: 94%;
			}

			.top-wrapper {
				display: block;

				height: 50%;
			}

			.bottom-wrapper {
				display: block;
				height: 50%;
			}

			.issue-reporter-user {
				float: right;
			}
		}
	}
}