.issue-entry {

	width: 100%;
	padding: .1em;
	margin: .1em 0;

	&:hover {
		background-color: #fff;
	}


	.left-wrapper {
		display: inline-block;
		width: 5%;
	}

	.right-wrapper {
		display: inline-block;
		width: 94%;
	}

	.top-wrapper {
		display: block;

		height: 50%;
	}

	.bottom-wrapper {
		display: block;
		height: 50%;
	}

	.issue-reporter-user {
		float: right;
	}


}