doctype html
html
	head
		block head_includes
		link(rel='stylesheet', href='/stylesheets/base.css')
	body
		#all-content
			#header
				h1
					a(href="/") Issue Reporter
			#main-body
				- if(messages) {
					#messages
						- for(var i = 0; i < messages.length; i++) {
							div =messages[i].message
						- }
				- }
				block content
			#footer
				| Copyright 2014 Bill Liu