doctype html
html
	head
		block head_includes
		link(rel='stylesheet', href='/stylesheets/base.css')
	body
		#all-content
			#header

				#login
					form(action="/login", method="post")
						input(name="username", type="text")
						input(name="password", type="password")
						button Submit

				h1
					a(href="/") Issue Reporter
			#main-body
				- if(messages) {
					#messages
						each message in messages
							div= message.message
				- }
				block content
			#footer
				| Copyright 2014 Bill Liu