doctype html
html
	head
		block head_includes
		link(rel='stylesheet', href='/stylesheets/base.css')
	body
		#all-content
			#header
				h1 Issue Reporter
			#main-body
				block content
			#footer
				| Copyright 2014 Bill Liu