extends base

block head_includes
	link(rel='stylesheet', href='/stylesheets/newissue.css')
	link(rel="stylesheet", href="/stylesheets/user_selector/user_selector.css")
	script(src="/javascripts/irUserSelector.js")
	script(src="http://code.jquery.com/jquery-2.1.3.min.js") 	//-Use CDN for test
	script.
		window.onload = function() {
			var userSelector = new UserSelector()
		}
	title Create Issue

block content
	#new-issue.content-block
		h2 Create new Issue

		form(method="POST", action="")
			.form-field.text-field
				label(for="issue-name") Issue
				input(type="text", id="issue-name", name="issue-name")

			.form-field.inline-field
				label(for="issue-type") Type
				select(name="issue-type", id="issue-type")
					option Select a Type
					option Bug Report
					option Implementation
					option To-do
					option Discussion

			.form-field.inline-field
				label(for="issue-priority") Priority
				select(name="issue-priority", id="issue-priority")
					option(value="0", selected) Select a Priority
					option(value="1") Critical
					option(value="2") High
					option(value="3") Medium
					option(value="4") Low
					option(value="5") Wishful

			.form-field.inline-field
				input(type="checkbox" name="issue-internal", id="issue-internal")
				label(for="issue-internal") Internal?

			.form-field.inline-field
				label(for="issue-version") Version:
				input(type="text", name="issue-version", id="issue-version")


			.form-field.inline-field
				label(for="issue-assignee") Assignee:
				#ir-user-selector

			.form-field.text-field
				label(for="issue-tags") Tags
				input(type="text", id="issue-tags", name="issue-tags")

			.form-field.text-field
				label(for="issue-body") Description
				textarea(name="issue-body", id="issue-body", placeholder="Please include a detailed description")

			button Create Issue
