extends base

block head_includes
	link(rel='stylesheet', href='/stylesheets/reporter.css')
	title Issue Reporter

block content
	#issue-entries
		- for(var i = 0; i < issues.length; i++) {
			.issue-entry
				.left-wrapper
					//Placeholder
					span.issue-votes 0
				.right-wrapper
					.top-wrapper
						span.issue-name=issues[i]["title"]
					.bottom-wrapper
						span.issue-priority Priority #{issues[i]["priority"]}
						//Placeholder
						span.issue-reporter-user Placeholder Name
		- }

		.issue-entry
			a(href="create") Create a new Issue
