extends base

block head_includes
	link(rel='stylesheet', href='/stylesheets/reporter.css')
	title Issue Reporter

block content
	form(method="POST")
		.input-field
			label Username:
			input(type="text", name="username")

		.input-field
			label Password:
			input(type="password", name="password1")
			label Password (again):
			input(type="password", name="password2")

		.input-field
			button Create User