extends base

block head_includes
	link(rel='stylesheet', href='/stylesheets/reporter.css')
	title Issue Reporter

block content
	#project-name
		#{project.name}
	#left-wrapper
		#side-bar.content-block
			| Search Me
			input(type="text", name="search-query")

	#right-wrapper
		#issue-entries.content-block
			each issue in issues
				.issue-entry
					.left-wrapper
						//Placeholder
						span.issue-votes 0
					.right-wrapper
						.top-wrapper
							span.issue-name=issue["name"]
						.bottom-wrapper
							span.issue-priority Priority #{issue["priority"]}
							//Placeholder
							span.issue-reporter-user #{issue.reporter.name}
			.issue-entry
				a(href="create") Create a new Issue
