/* overrides */
/* line 4, ../../sass/base.scss */
html, body {
  margin: 0;
  height: 100%;
}

/* line 9, ../../sass/base.scss */
body {
  background-color: #FFF;
  font-size: 130%;
  font-family: Arial;
  margin: 0px;
}

/* line 16, ../../sass/base.scss */
hr {
  margin: .6em .2em;
  height: 3px;
  background-color: #555;
}

/* line 22, ../../sass/base.scss */
a {
  text-decoration: none;
}

/* line 26, ../../sass/base.scss */
a, a:visited {
  color: #B2577A;
}

/* line 30, ../../sass/base.scss */
a:hover {
  color: #6C2D58;
}

/* line 35, ../../sass/base.scss */
button,
input[type="button"],
input[type="submit"],
a.button {
  background-color: #93CCCB;
  border-color: #2D5958;
  color: #2D5958;
  border-style: solid;
  padding: .3em .5em;
  border-radius: 5px;
  border-width: 2px;
  font-size: 1em;
  line-height: 1.1;
}
/* line 52, ../../sass/base.scss */
button.small-btn,
input[type="button"].small-btn,
input[type="submit"].small-btn,
a.button.small-btn {
  font-size: 80%;
}
/* line 56, ../../sass/base.scss */
button.large-btn,
input[type="button"].large-btn,
input[type="submit"].large-btn,
a.button.large-btn {
  font-size: 100%;
}
/* line 60, ../../sass/base.scss */
button.huge-btn,
input[type="button"].huge-btn,
input[type="submit"].huge-btn,
a.button.huge-btn {
  font-size: 110%;
}

/* User bar */
/* line 67, ../../sass/base.scss */
#user-bar {
  width: 100%;
  height: 1.8em;
  background-color: #fff;
}
/* line 72, ../../sass/base.scss */
#user-bar #user-bar-content {
  margin-right: 20%;
  display: inline-block;
  float: right;
}
/* line 78, ../../sass/base.scss */
#user-bar #user-bar-content form {
  display: inline-block;
}

/* main content */
/* line 87, ../../sass/base.scss */
body {
  background-color: #A1E6E0;
}

/* line 91, ../../sass/base.scss */
#all-content {
  width: 80%;
  min-width: 700px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
/* line 98, ../../sass/base.scss */
#all-content #header {
  height: 5em;
  overflow: auto;
  text-align: center;
}
/* line 107, ../../sass/base.scss */
#all-content #main-body {
  display: block;
  min-height: 100%;
  margin-bottom: 10%;
}
/* line 112, ../../sass/base.scss */
#all-content #main-body .content-block {
  background-color: #FFF;
}
/* line 118, ../../sass/base.scss */
#all-content #footer {
  width: 100%;
  bottom: 0;
  height: 5em;
}

/* Forms */
/* line 126, ../../sass/base.scss */
.form-field {
  display: block;
  margin: .5em .1em;
}

/* Button */
/* line 136, ../../sass/base.scss */
.button {
  cursor: pointer;
}

/* Pop up */
/* line 142, ../../sass/base.scss */
.popup-box {
  background-color: #FFF;
  display: none;
  position: absolute;
  z-index: 999;
}
/* line 148, ../../sass/base.scss */
.popup-box .popup-topbar {
  background-color: #628FD9;
  display: block;
  padding: 10px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
}
/* line 157, ../../sass/base.scss */
.popup-box .popup-topbar span {
  color: #111;
}
/* line 162, ../../sass/base.scss */
.popup-box .popup-close {
  float: right;
}
/* line 166, ../../sass/base.scss */
.popup-box .popup-main {
  padding: 10px;
  display: block;
}
/* line 171, ../../sass/base.scss */
.popup-box .popup-title {
  font-size: 100%;
}

/* line 176, ../../sass/base.scss */
.popup-background {
  background-color: rgba(200, 200, 200, 0.8);
  top: 0;
  left: 0;
  position: absolute;
  display: block;
}

/* Notifications */
/* line 186, ../../sass/base.scss */
.notif-error {
  background-color: #FF4040;
}

/* line 190, ../../sass/base.scss */
.notif-success {
  background-color: #73E65C;
}
