/* line 1, ../../sass/reporter.scss */
.issue-entry {
  width: 100%;
  padding: .1em;
  margin: .1em 0;
}
/* line 7, ../../sass/reporter.scss */
.issue-entry:hover {
  background-color: #fff;
}
/* line 12, ../../sass/reporter.scss */
.issue-entry .left-wrapper {
  display: inline-block;
  width: 5%;
}
/* line 17, ../../sass/reporter.scss */
.issue-entry .right-wrapper {
  display: inline-block;
  width: 94%;
}
/* line 22, ../../sass/reporter.scss */
.issue-entry .top-wrapper {
  display: block;
  height: 50%;
}
/* line 28, ../../sass/reporter.scss */
.issue-entry .bottom-wrapper {
  display: block;
  height: 50%;
}
/* line 33, ../../sass/reporter.scss */
.issue-entry .issue-reporter-user {
  float: right;
}
